
@{
    ViewData["Title"] = "Safari Pizza";
    Layout = "~/Views/Shared/_LayoutOrderMenu.cshtml";;
}


<div class="text-center">

    <div class="centered" style="Font-Family:Playball; color: lightseagreen; font-size:100px">Thank you for your ordering from us! Your Order will be ready for pick up in 30 mminutes</div>

    <div>
        <img src=http://buckspizza.com/wp-content/uploads/2017/05/BP_combined-image-1.jpg style="width:100%;">
    </div>
</div>

