
@{
    ViewData["Title"] = "Safari Pizza";
    Layout = "~/Views/Shared/_LayoutOrderMenu.cshtml";
}

    <div>
        <img src="~/resources/imgs/rustico-pizzeria.jpg" alt="ravine" style="width:100%; height:100%; ">
    </div>