@{
    ViewData["Title"] = "Safari Pizza";
    Layout = "~/Views/Shared/_LayoutWelcome.cshtml";
}


<div class="text-center">

    <div class="centered" style="Font-Family:Playball; color: lightseagreen; font-size:200px">Welcome to Safari Pizza</div>

    <div>
        <img src="resources/imgs/WelcomePizza.jpg" alt="ravine" style="width:100%;">
    </div>
</div>

